:root {
    --cell-size: 15vw;
    --grid-columns: 6;
    --grid-rows: 6;
}



#board {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), var(--cell-size) [col-start]);
    grid-template-rows: repeat(var(--grid-rows), var(--cell-size) [col-start]);
    border-radius: 100px;
}

#board div {
    border: 1px blue solid;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: transparent;
}

#board div.popped{
    background-color: gray;
}

#board div.selected{
    background-color: lightgray;
}

#board div.untouched{
    background-color: rgb(37, 148, 245);
}

/* .unused{
    
} */