div.cell {
    border: 1px blue solid;
    width: 50px;
    height: 50px;
}

div.board {
    display: grid;
    grid-template-columns: repeat(6, 50px [col-start]);
    grid-template-rows: repeat(6, 50px [col-start]);
}

.popped{
    background-color: gray;
}

.selected{
    background-color: lightgray;
}

.untouched{
    background-color: aliceblue;
}

/* .unused{
    
} */